NODE_ENV=production

PORT=3000
HOST=0.0.0.0

LOG_LEVEL=debug

CORS_ENABLED=true
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

API_PREFIX=/api
API_VERSION=v1

API_KEY_ENABLED=true
API_KEY=9af51e40ea97212044aabd2fe4992e8359de8e375b3467da97fe0e36e2804283

# EXTERNAL_API_URL=http://localhost:8000
# EXTERNAL_API_KEY=development-key

ENABLE_SWAGGER=true
ENABLE_HEALTH_CHECK=true

APP_NAME=assessment-db-domain-service
APP_DESCRIPTION=Database domain backend service application

# Database Configuration (PostgreSQL)
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=assessment_db
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_SSL=false
